---
import type { CardProps } from "./types";
import "../Card/styles.css";

// Props
const { gradientFrom, gradientTo, title, to } = Astro.props as CardProps;
---

<a
  href={to}
  class="card"
  style={`--gradientFrom: ${gradientFrom}; --gradientTo: ${gradientTo};`}
  aria-label={`Visit ${title}`}
>
  <div class="card__inner">
    <div class="card__title">{title}</div>
    <div class="card__footer">&rarr;</div>
  </div>
</a>
