---
// css
import "../styles/index.astro.css";
// components
import Cards from "../components/Card/Cards.astro";
// layout
import Main from "../layouts/Main.astro";
// types
import type { BlogFrontMatter } from "./props/types";

// https://vite.dev/guide/features.html#glob-import
const modules = import.meta.glob<{ frontmatter: BlogFrontMatter }>(
  "../pages/blogs/*.md",
  { eager: true }
);

const blogs = Object.entries(modules)
  .map(([url, mod]) => ({
    url: url.replace("../pages", "").replace(/\.md$/, ""),
    frontmatter: mod.frontmatter,
  }))
  .sort((a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );


const profilePicture = "https://picsum.photos/1080.webp"; // random image

const text = {
  title: "Scott Milliorn Portfolio",
  developer: {
    location: "California, USA",
    name: "Scott Milliorn",
    title: "Software Engineer",
    details:
      "Highly skilled and innovative professional with expertise in designing, developing, and maintaining web applications and software solutions. Deep understanding of modern web technologies and frameworks.",
  },
  blogs: {
    title: "Featured Blogs",
    description: "Opinion articles crafted from my personal interests.",
  },
};
---

<Main title={text.title}>
  <div class="profile">
    <div class="profile__picture-container">
      <img src={profilePicture} alt="profile image" class="profile__picture" />
    </div>
    <div class="profile__details">
      <h1>{text.developer.name}</h1>
      <h2>{text.developer.title}</h2>
      <h3>{text.developer.location}</h3>
      <p>
        {text.developer.details}
      </p>
    </div>
  </div>

  <Cards
    cards={[
      {
        gradientFrom: "#818cf8",
        gradientTo: "#d8b4fe",
        title: "Guiding Principles that Shape My Life",
        to: "/philosophies",
      },
      {
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        title: "Summary of My Work History",
        to: "/work",
      },
      {
        gradientFrom: "#6ee7b7",
        gradientTo: "#9333ea",
        title: "Endeavors I Enjoy Beyond Technology",
        to: "/tech",
      },
    ]}
  />

  <div class="featured-blogs">
    <h3 class="featured-blogs__title">{text.blogs.title}</h3>
    <p class="featured-blogs__description">{text.blogs.description}</p>
  </div>

  <ul>
    {
      blogs.map((blog) => (
        <li class="blogs__list">
          <a href={blog.url} class="blog__link">
            {blog.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</Main>
